/* Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #007BFF;
    --secondary-color: #28A745;
    --background-color: #FFFFFF;
    --text-color:#6C757D;
    --font-family: 'Open Sans Regular', 'Montserrat', bold;
}
body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100px;
    line-height: 1.6em;
}
/* Header Styles */
.header {
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color) );
    color: #fff;
    padding: 1rem 1rem;
    text-align: center;
}
.header h1 {
    font-size: 3rem;
    margin: 2rem;
}